<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Gains</title>
</head>

<body>

    <main>
        <section class="hero">
            <h1>Green Gains</h1>
            <h2>Reciclá, Ganá, Transformá</h2>
        </section>

        <section class="app-promotion">
            <img src="img/app-screenshot.png" alt="Green Gains App Screenshot" class="app-image">
        </section>
    </main>

</body>

</html>
