<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
</form>
<h1>Perfil de Usuario</h1>
